<!DOCTYPE html>
<html>
    <head>
        <title><!--%TITLE%--></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <!--%HEAD%-->
    </head>
    <body>
        <div id="holder">
            <div class="content">
                <div id="logo"><img src="/media/share/logo.png" alt="Eyekiss Photography" title="Eyekiss Photography"></div>
                <div id="title"><!--%SUBTITLE%--></div>
                <div id="pagnation"><!--%PAGENATION%--></div>
                <div id="content"><!--%CONTENT%--></div>
                <div id="gallst">
                    <table cellspacing="0" cellpadding="5" align="center" id="galtbl">
                        <!--%GALTBL%-->
                    </table>
                </div>
            </div>
            <div id="footer">Gallery System Written by <a href="#" target="_blank">Adam Prescott</a></div>
        </div>
    </body>
</html>
